/src/Codility/TODO
/src/Codility/Old
/src/Codility/Real
/.idea
# Created by .ignore support plugin (hsz.mobi)
/src/Codility/DynamicProgramming/MinAbsSum.sc
/src/Codility/IndeedPrimeChallenge/DwarfsRafting.sc
/src/Codility/PrimeAndCompositeNumbers/Peaks.sc
